<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="folder == 'Home'">
  <div>
    <form [formGroup]="motorStepForm">
      <ion-item>
        <ion-label class="formLabelStyle">Posição do motor X [mm]:</ion-label>
        <ion-input inputmode="numeric" clear-on-edit formControlName="stepMotorX" (ionFocus)="clearInput('stepMotorX')">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="formLabelStyle">Velocidade do motor X [mm/s]:</ion-label>
        <ion-input type="number" formControlName="speedMotorX" (ionFocus)="clearInput('speedMotorX')"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="formLabelStyle">Posição do motor Y [mm]:</ion-label>
        <ion-input inputmode="numeric" formControlName="stepMotorY" (ionFocus)="clearInput('stepMotorY')"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="formLabelStyle">Velocidade do motor Y [mm/s]:</ion-label>
        <ion-input type="number" formControlName="speedMotorY" (ionFocus)="clearInput('speedMotorY')"></ion-input>
      </ion-item>
      <div class="redirectButtons">
        <button (click)="confirmMoviment()"> Confirmar </button>
      </div>
    </form>
  </div>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="folder == 'Contato'">
  <div>
    <ion-item>
      <ion-label class="formLabelStyle">Nome: Felipe Nascimento Cerqueira Rodrigues</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="formLabelStyle">Email: felipenascimento147@hotmail.com</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="formLabelStyle">WhatsApp:
        <a target="blank" href="https://api.whatsapp.com/send?phone=5534999949720">(34)99994-9720</a>
      </ion-label>
    </ion-item>
  </div>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="folder == 'Sobre'">
  <div>
    <ion-item>
      <p class="formLabelStyle">Aplicativo desenvolvido para realizar o controle dos motores de passo do sistema de
        plasma atmosférico do Laboratório de Filmes Finos e Processo a Plasma da UFTM. Para utilizar o aplicativo,
        primeiramente você deve ligar o Bluetooth de seu celular e conectar com o dispositivo HC-05: 00:21:13:02:2E:B5.
        A senha para a conectar é 1234. Em seguida, vá para a página Home do meu lateral, digite as posições e
        velocidades desejadas e pressione o botão confirmar. Espere o Arduino executar totalmente o comando para
        movimentar os motores para depois enviar o novo comando.
      </p>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Desenvolvido por Felipe Rodrigues</ion-title>
  </ion-toolbar>
</ion-footer>