<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="folder == 'Home'">
  <div>
    <form [formGroup]="motorStepForm">
      <ion-item>
        <ion-label class="formLabelStyle">Posição do motor X [mm]:</ion-label>
        <ion-input inputmode="numeric" clear-on-edit formControlName="stepMotorX" (ionFocus)="clearInput('stepMotorX')">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="formLabelStyle">Velocidade do motor X [mm/s]:</ion-label>
        <ion-input type="number" formControlName="speedMotorX" (ionFocus)="clearInput('speedMotorX')"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="formLabelStyle">Posição do motor Y [mm]:</ion-label>
        <ion-input inputmode="numeric" formControlName="stepMotorY" (ionFocus)="clearInput('stepMotorY')"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="formLabelStyle">Velocidade do motor Y [mm/s]:</ion-label>
        <ion-input type="number" formControlName="speedMotorY" (ionFocus)="clearInput('speedMotorY')"></ion-input>
      </ion-item>
      <div class="redirectButtons">
        <button (click)="confirmMoviment()"> Confirmar </button>
      </div>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Desenvolvido por Felipe Rodrigues</ion-title>
  </ion-toolbar>
</ion-footer>